<!-- Custom Multi-Column Section -->
<section class="custom-multi-column">
  <div class="container">
    <div class="row">
      <!-- Column 1: Gray Background -->
      <div class="col-md-4" style="background-color: #808080;">
        <div class="column-content text-center">
          <img src="logo1.png" alt="Logo 1">
          <h2 class="column-title">Column 1 Title</h2>
          <p class="column-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>
      
      <!-- Column 2: Yellow Background -->
      <div class="col-md-4" style="background-color: #FFFF00;">
        <div class="column-content text-center">
          <img src="logo2.png" alt="Logo 2">
          <h2 class="column-title">Column 2 Title</h2>
          <p class="column-description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>
      
      <!-- Column 3: Beige Background -->
      <div class="col-md-4" style="background-color: #F5F5DC;">
        <div class="column-content text-center">
          <img src="logo3.png" alt="Logo 3">
          <h2 class="column-title">Column 3 Title</h2>
          <p class="column-description">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Custom Multi-Column Section section ends -->
{% schema %}
{
"name": "Section name",
"settings": [],
"presets": [
{
"name": "Welcome2",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}